Repository mattsel/AI-Stock-Prediction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker_backend, docker_frontend

.gitlab-ci.yml:

stages:
  - lint
  - build

pylint:
  image: python:3.12-slim
  stage: lint
  before_script:
    - pip install pylint
    - pip install -r backend/requirements.txt
  script:
    - pylint --disable=all --enable=E,F backend/app.py
  only:
    - merge_requests

eslint:
  image: node:16
  stage: lint
  before_script:
    - npm install -g eslint
    - npm install
  script:
    - eslint frontend/**/*.ts --fix
  only:
    - merge_requests

docker_backend:
  image: docker:20.10.7
  stage: build
  services:
    - docker:19.03.12-dind
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - backend/**/*
  before_script:
    - docker info
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  script:
    - docker build -t mattsel/AI-Stock-Prediction-web-backend:latest ./backend
    - docker push mattsel/AI-Stock-Prediction-web-backend:latest

docker_frontend:
  image: docker:20.10.7
  stage: build
  services:
    - docker:19.03.12-dind
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - frontend/**/*
  before_script:
    - docker info
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  script:
    - docker build -t mattsel/AI-Stock-Prediction-web-frontend:latest ./frontend
    - docker push mattsel/AI-Stock-Prediction-web-frontend:latest

Started readme
  README.md
  backend/app.py
  prometheus/prometheus.yml
Due: docker_backend

Temporary styling for pages
  backend/app.py
  frontend/config-overrides.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/result/Graph.tsx
  frontend/src/components/shared/Form.tsx
  frontend/src/styling/resultForm.css
Due: docker_backend, docker_frontend

Updated backend
  backend/Procfile
  backend/app.py
  backend/model.py
  backend/redis.py
  backend/routes.py
  frontend/src/components/index/Description.tsx
  frontend/src/components/shared/Navbar.tsx
Due: docker_backend, docker_frontend

Added redis sentinel
  k8s/redis.yaml
Due: none

Added Kubernetes diagram
  README.md
  images/Cluster.png
  images/Pod.png
  k8s/redis.yaml
Due: none
